{% extends "base.html" %}
{% block title %} INDEX        {% endblock  %}
{% block  blog_active %} active{% endblock  %}


{% block body %}
    {% load static %}
    <h1> THIS IS /BLOGHOME </h1>

    {% for blog in blogs %}
    <div class='container ml-5'>
        

        <h2 style='color: #00F; display:inline;'>
            {{ blog.title }} 
        </h2>
        <div class="d-flex"
        style="background-color:#ADD">
            <div class="flex-shrink-0">
                <a href="/blogpost/{{blog.slug}}">
                    <button type="button" class="btn btn-primary"> Read More</button>
                </a>
                <img src="{% static 'user.png' %}" alt="..."
                style="height:100px; display:block">
            </div>
            <div class="flex-grow-1 ms-3"
            style="background-color:#EEE">
                {{ blog.content | slice:300 }}
            </div>
            <br>

        </div>
    </div>
    <p>
    </p> 
    {% endfor %}

{% endblock body %}
