{% extends "layout.html" %}

{% block title%}
    Post List
{% endblock %}

{% block content%}
    <h1> Post List</h1>
    {% for post in posts %}
        <article class="post">
            <h2>
                <a href="{% url 'posts:page' slug=post.slug %}">
                    {{ post.title }}
                </a>
            </h2>
            <section>
                <img
                    class="banner" 
                    src="{{ post.banner.url }}" 
                    alt="{{ post.title }}" >
            <pre> By {{ post.author }} </pre>
            <p> {{ post.body  }} </p>

            {% with post.date|date:"Y-m-d H:i:s" as formatted_date %}
            <p>Year:   {{ formatted_date|slice:"0:4"   }}</p>
            <p>Month:  {{ formatted_date|slice:"5:7"   }}</p>
            <p>Day:    {{ formatted_date|slice:"8:10"  }}</p>
            <p>Hour:   {{ formatted_date|slice:"11:13" }}</p>
            <p>Minute: {{ formatted_date|slice:"14:16" }}</p>
            <p>Second: {{ formatted_date|slice:"17:19" }}</p>
            {% endwith %}
            
        </article>
        <br> <hr>
    {% endfor %}
{% endblock %}
