<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title%}
        Django app  <!--Default value -->
        {% ensblock %}
    </title>
    <link  href="{% static 'css/style.css' %}" rel="stylesheet"> 
    <script src="{% static "js/main.js" %}" defer> </script>
</head>
<body>
    <nav>
        <a href="/"     > 🏠 </a>
        <a href="/about"> ℹ️  </a>
        <a href="/news" > 🗞️ </a>
    </nav>
    <main>
        {% block content%}
        {% endblock %}
    </main>
</body>
</html>

{% comment %}  USEFULL EMOJIS  https://emojipedia.org/shopping-cart
🏠🏢🏦🌏🕐🌐🌗🔗🛡️📅📋📧📩📎🔑🔓🔒👍👎📰🗞️📜📄
ℹ️©️®️💬🛒💲💰💵💳📊📈📉🎓👁️‍🗨️🔍🔎✂️⚙️✈️🚓🚛🛵📦🗑️🔥🚨🛟
🚫⛔☢️⚠️✅❎♀️♂️📌💾📷📸🎬🎞️📀🔧🏷️
🎵🎧📀🔈🔉🔊🔇💎👑📣🔔🔕✏️📞📓📕📗📘📙
♻️🆕⏯️⏸️▶️⏹️⏺️⏏️🔴🟠🟡🟢🔵🟣🟤⚫🪪🌗❤️
{% endcomment %}