<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title%}
        Django app  <!--Default value -->
        {% endblock %}
    </title>
    <link  href="{% static 'css/style.css' %}" rel="stylesheet"> 
    <script src="{% static "js/main.js" %}" defer> </script>
</head>
<body>
    <nav>
        <div>
            <a href="/" title="Home"> 
                <span role="img" aria-label="Home"> 🏠 </span>      Home 
            </a>  
        </div>
        <div>
            <a href="/about" title="About"> 
                <span role="img" aria-label="About"> 🌐 </span>     About
            </a> 
        </div>
        <div>
            <a href="{% url 'posts:list' %}" title="Posts">  
                <span role="img" aria-label="Posts"> 🗞️ </span>     Posts
            </a>
        </div>
        <div>
            <a href="{% url 'users:register' %}" title="Register">  
                <span role="img" aria-label="Register"> 🪪 </span>    Register
            </a>
        </div>
        <div>
            <a href="{% url 'users:login' %}" title="Log in">  
                <span role="img" aria-label="log in"> 🔑 </span>    Log in
            </a>
        </div>
    </nav>
    <main>
        {% block content%}
        {% endblock %}
    </main>
</body>
</html>

{% comment %}  USEFULL EMOJIS  https://emojipedia.org/shopping-cart
https://emojipedia.org/huawei  https://unicode.org/emoji/charts/full-emoji-list.html
🏠🏢🏦🌏🕐🌐🌗🔗🛡️📅📋📧📩📎🔑🔓🔒👍👎📰🗞️📜📄📑📝🪧🗣️💡
ℹ️©️®️💬🛒💲💰💵💳📊📈📉🎓👁️‍🗨️🔍🔎✂️⚙️✈️🛬🛫🚓🚛🛵📦🗑️🔥🚨🛟
🚫⛔☢️⚠️✅❎♀️♂️📌💾📷📸🎬🎞️📀🔧🏷️
🎵🎧📀🔈🔉🔊🔇💎👑📣🔔🔕✏️📞📖📓📕📗📘📙📒
♻️🆕⏯️⏸️▶️⏹️⏺️⏏️🔴🟠🟡🟢🔵🟣🟤⚫🪪🌗❤️
↘️⬇️↙️⬅️↖️➡️🔁
{% endcomment %}